.noti{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;

    .noti-body{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .list{
        background-color: rgb(255, 255, 255);
        height: 100%;
        width: 60%;
    }

    .box{
        background-color: #998eb9;
        height: 100%;
        width: 40%;
    }
}