.search{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.search-div{
    background-color: rgb(33, 33, 33);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    .search-pill{
        display: flex;
        width: 50%;
        background-color: antiquewhite;
        border-radius: 30px;
        input{
            height: 40px;
            width: 100%;
            background: none;
            border-radius: 30px;
            border: 0ch;
            border: none;
            color: black;
            padding-left: 10px;
        }
        button{
            height: 40px;
            width: 40px;
            background: none;
            color: black;
            border: 0ch;
            border-radius: 50%;
        }
    }
}

.search-results{
    background-color: rgb(62, 62, 62);
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 20px;
}

.search-scrollable{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    .tile-btn{
        background-color: antiquewhite;
        width: fit-content;
        height: fit-content;
    }
}
 